<div class="col-md-12">
  <div class="row col-md-12">
    <h1 class="mainTitle" style="margin-top:0px;padding-top:0px;">
      Sébastien Arnold
      <a href="https://github.com/ZebTech">
      <img class="pull-right" src="../images/ZebTech_mini.png" height="60" alt="*" />
      </a>
    </h1>

  </div>
  <div class="row" style="text-align:center;">
    <a href="http://seba1511.com/CV.pdf">
      <img src="../images/cv_logo.gif" alt="Télécharger mon CV" height="60">
    </a>
    <a href="mailto:seba1511[at]tooski.ch" class="col-md-offset-1">
      <img height="70" alt="Email" src="../images/mail.png" />
    </a>
    <a href="https://github.com/seba-1511" class="col-md-offset-1">
      <img height="50" alt="GitHub" src="../images/github.png" />
    </a>
    <a href="https://plus.google.com/113646921148645696118/posts" class="col-md-offset-1">
      <img height="50" alt="Google+" src="../images/google+.png" />
    </a>
  </div>
  <hr width="80%" />
  <div class="col-md-12">
    <h2 style="font-weight:bolder;">Projects</h2>
    <p class="col-md-offset-1">Recents and less recents ones</p>

  </div>
  <div class="col-md-12">
    <p>Add a new project</p>
  </div>
</div>
