<div class="container header-margin">

    <h2 class="featurette-heading" style="margin-top:30px;">Artificial Intelligence</h2>
    <div class="col-md-12">
        <div class="col-md-4" ng-repeat="p in ai | orderBy:'date':true">
            <h2>
            <a ng-href="{{p.link}}" target="_blank">
            {{p.title}}
            </a>
            <span class="muted"><small>{{p.date | date}}</small></span>
        </h2>
            <p>{{p.description}}</p>
        </div>
    </div>

    <h2 class="featurette-heading" style="margin-top:30px;">Quantum Computing</h2>
    <div class="col-md-12">
        <div class="col-md-4" ng-repeat="p in quantum | orderBy:'date':true">
            <h2>
            <a ng-href="{{p.link}}" target="_blank">
            {{p.title}}
            </a>
            <span class="muted"><small>{{p.date | date}}</small></span>
        </h2>
            <p>{{p.description}}</p>
        </div>
    </div>

    <h2 class="featurette-heading" style="margin-top:30px;">Miscelleanous</h2>
    <div class="col-md-4" ng-repeat="p in projects | orderBy:'date':true">
        <h2>
            <a ng-href="{{p.link}}" target="_blank">
            {{p.title}}
            </a>
            <span class="muted"><small>{{p.date | date}}</small></span>
        </h2>
        <p>{{p.description}}</p>
    </div>

</div>
